* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background: #f4f7f9; 
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ecf0f1; 
}


.nav-menu {
    display: flex; 
    align-items: center;
}

.nav-menu li {
    margin-left: 30px;
}

.nav-link {
    display: block;
    padding: 10px 0;
    color: #bdc3c7; 
    font-weight: 500;
    transition: color 0.3s;
}

.nav-link:hover, .nav-link.active {
    color: #3498db; 
}


.cta-btn {
    background-color: #e74c3c; 
    color: #ffffff;
    padding: 8px 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-btn:hover {
    background-color: #c0392b;
    color: #ffffff; 
}


.nav-toggle-input {
    display: none; 
}

.nav-toggle-label {
    display: none; 
    cursor: pointer;
    padding: 5px;
}


@media (max-width: 768px) {
    .nav-menu {
        
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden; 
        flex-direction: column;
        background-color: #2c3e50;
        transition: height 0.3s ease-in-out;
    }

    .nav-menu li {
        margin: 0;
        width: 100%;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav-link {
        padding: 15px 0;
    }
    
   
    .nav-toggle-label {
        display: block;
        order: 2; 
    }

 
    .nav-toggle-input:checked ~ .nav-menu {
        height: 250px; 
      
    }
    
   
    .hamburger {
        display: block;
        width: 25px;
        height: 3px;
        background: #ecf0f1;
        position: relative;
    }

    .hamburger::before, .hamburger::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 3px;
        background: #ecf0f1;
        transition: transform 0.3s;
    }

    .hamburger::before {
        top: -8px;
    }

    .hamburger::after {
        top: 8px;
    }

}

.backgroundimage{
  display: flex;
  justify-items: center;
  align-items: center;

}
.background{
  
  background-image: url("BackgroundImage.png");
  width: 95vw;
  height:85vh;
  border-radius: 35px 35px 35px 35px;
  margin:10px 30px;
  margin-left: 37px;
  background-repeat: no-repeat;
  border: 2px solid gray;
}
